.banner__info{
    background-color: $violetPrex;
    padding: 80px 20px;
    align-items: center;
    height: 100%;

    @include breakpoints-down(medium){
        height: 100%;

    }

    h1, p{
        color: $white;
    }

    h1{
        font-size: $fonts-banner-desktop;
        margin-bottom: 1.25em; //20px
        
    }

    p{
        font-size: $fonts-title;
        margin-bottom: 2.5em; //40px


    }

    .container{
        padding: 0;
    }

    &__data, &__image{
        align-items: center;
    }

    .image-phone {
        width: 70%;
    }

    .btn{
        background-color: $white;
        color: $violetPrex;
        padding: 2rem 0rem;
        font-size: $fonts-text;
        font-weight: normal;
    }


}