.banner__info{
    background-color: $violetPrex;
    padding: 5px 20px;
    align-items: center;
    height: 100%;

    @include breakpoints-down(medium){
        height: 100%;

    }

    h1, p{
        color: $white;
    }

    h1{
        font-size: $fonts-banner-desktop;
        margin-bottom: 0.5em;
        font-weight:500;
        line-height: 1.5;

        @include breakpoints-down(mobile-small){
            font-size: $font-maintitle-banner;
        }

     
        
    }

    p{
        font-size: $fonts-title;
        margin-bottom: 2.5em; //40px
  


    }

    

    .container{
        padding: 0;
    }

   

    &__data{
        margin-top: 25%;

        @include breakpoints-down(large){
            margin-top: 10%;
        }

    }

    &__data, &__image{
        align-items: center;
    }

    .image-phone-box{
        display: flex;
        justify-content: center;
    }
    

    .image-phone {
        width: 60%;
        float: right;

        @include breakpoints-down(medium){
            float: none;
        }
    }

    .btn{
        background-color: $white;
        color: $violetPrex;
        padding: 2rem 0rem;
        font-size: $fonts-text;
        font-weight: normal;
    }


}