@import 'mixins';
@import 'variables';

* *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Poppins', sans-serif ;
    &.noscroll{
        overflow: hidden;
    }
    margin:auto;

}



p{
    font-family: 'Nunito', sans-serif;
}

.flex{
    display: flex;
    &-jc-space{
        justify-content: space-between!important;
    }
    &-jc-c{
        justify-content: center;
    }
    &-jc-cent{
        align-items: center;
    }
    &-column{
        flex-direction: column;
    }
}

.containers{
    max-width: 100%;
}


.btn{
    border-radius: 2em; //32px
    cursor: pointer;
    border: 0;
    width: 15.625em; //250px
}

.hide__mobile{
    @include breakpoints-down(medium){
        display: none;
    }
}

.hide__desktop{
    @include breakpoints-up(large){
        display: none;
    }
}


