.header{
    padding:20px 0px;

    a, a:visited, a:hover{
        text-decoration: none;
        color:$blackText;
        font-family: 'Nunito', sans-serif;
        font-size: $fonts-text;
    }

    .nav{
        position: relative;
        background-color: $greyBackground;
        z-index: 1;
    }



    //hamburguer animation
    &.open{

        .header__menu{
            
            z-index: 1;

            >span:first-child{
                transform: rotate(40deg) ;

            }
            >span:nth-child(2){
                opacity: 0;
            }

            >span:last-child{
                transform: rotate(-45deg);

            }
        }
    }

    //bloque violeta mobile
    .overlay__layer{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        top:0;
        bottom: 0;
        background-color: $violetPrex;
        z-index: 1;

    }

    &__menu{
        >span{
            display: block;
            width: 36px;
            height: 5px;
            background-color: $blackText;
            transition: all 300ms ease-in-out;
            transform-origin: left center;

            
            &:not(:last-child){
                margin-bottom:7px;
            }

    
        }

        .mobile__clic{
            background-color: $white;
        }
    }

    &__links{
        align-items: center;

        a{

            &:not(:last-child){
                padding:0rem 3.75rem;
        }
        }

        span>.btn{
            background-color: $violetPrex;
            color:$white;
        }


    }

    .menu__mobile{
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 50%);
        align-items: center;
        z-index: 1;

    
      >a{
        font-size: $fonts-navbar-mobile;
        color: $white;
        text-align: center;

        &:not(:last-child){
            padding-bottom: 33px;

        }

      }
      .btn__sign_in{
        font-size:$fonts-text;
        font-weight: 100;
        padding: 1.25rem ;
        background-color: $white;
        color: $violetPrex;
       }
    }

}