//colors
$violetPrex: #5C19AE;
$azulLink: #0057DF;
$blackText: #242B4A;
$greyBackground: #F4F4F9;
$white:#fff;

//fonts sizes
$fonts-banner-desktop:2.813em;//40px
$font-maintitle-banner:1.875em;//30px
$fonts-navbar-mobile:1.563em; //25px
$fonts-title: 1.25em; //20px
$fonts-text:1em; //16px


