//colors
$violetPrex: #5C19AE;
$azulLink: #0057DF;
$blackText: #242B4A;
$greyBackground: #F4F4F9;
$white:#fff;

//fonts sizes
$font-maintitle:45px;
$font-maintitle-banner:30px;
$fonts-navbar-mobile: 25px;
$fonts-title-banner: 22px;
$fonts-title: 20px;
$fonts-text:16px;



