* *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

body.noscroll {
  overflow: hidden;
}

p {
  font-family: 'Nunito', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-space {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-cent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containers {
  max-width: 100%;
}

.btn {
  border-radius: 2em;
  cursor: pointer;
  border: 0;
  width: 15.625em;
}

@media (max-width: 1023px) {
  .hide__mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide__desktop {
    display: none;
  }
}

.header {
  padding: 20px 0px;
}

.header a, .header a:visited, .header a:hover {
  text-decoration: none;
  color: #242B4A;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

.header .nav {
  position: relative;
  background-color: #F4F4F9;
  z-index: 1;
}

.header.open .header__menu {
  z-index: 1;
}

.header.open .header__menu > span:first-child {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay__layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5C19AE;
  z-index: 1;
}

.header__menu > span {
  display: block;
  width: 36px;
  height: 5px;
  background-color: #242B4A;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 7px;
}

.header__menu .mobile__clic {
  background-color: #fff;
}

.header__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links a:not(:last-child) {
  padding: 0rem 3.75rem;
}

.header__links span > .btn {
  background-color: #5C19AE;
  color: #fff;
}

.header .menu__mobile {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header .menu__mobile > a {
  font-size: 1.563em;
  color: #fff;
  text-align: center;
}

.header .menu__mobile > a:not(:last-child) {
  padding-bottom: 33px;
}

.header .menu__mobile .btn__sign_in {
  font-size: 1em;
  font-weight: 100;
  padding: 1.25rem;
  background-color: #fff;
  color: #5C19AE;
}

.banner__info {
  background-color: #5C19AE;
  padding: 80px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 1023px) {
  .banner__info {
    height: 100%;
  }
}

.banner__info h1, .banner__info p {
  color: #fff;
}

.banner__info h1 {
  font-size: 2.813em;
  margin-bottom: 1.25em;
}

.banner__info p {
  font-size: 1.25em;
  margin-bottom: 2.5em;
}

.banner__info .container {
  padding: 0;
}

.banner__info__data, .banner__info__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__info .image-phone {
  width: 70%;
}

.banner__info .btn {
  background-color: #fff;
  color: #5C19AE;
  padding: 2rem 0rem;
  font-size: 1em;
  font-weight: normal;
}

.cards__section .cards__section_title {
  margin: 3.75em 0px;
}

.cards__section h1 {
  font-weight: bold;
  text-align: center;
}

.cards__section .cards__box__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.4em 0.313em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 14px #00000029;
          box-shadow: 0px 0px 14px #00000029;
  border-radius: 20px;
  height: 319px;
  width: 260px;
  margin: auto;
}

@media (max-width: 1023px) {
  .cards__section .cards__box__info .cards__box__info {
    margin: auto;
  }
}

.cards__section .cards__box__info .cards__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 102px;
}

.cards__section .cards__box__info .cards__title {
  color: #5C19AE;
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  margin-top: 1.469rem;
}

.cards__section .cards__box__info .cards__info {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-top: 1.375rem;
}

.slick-next.slick-arrow {
  top: 50%;
  width: 20%;
  height: 100%;
  right: 20px;
  margin-top: -13px;
  position: absolute;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("/assets/arrow-right-circle.svg");
  background-repeat: no-repeat;
}

.slick-prev.slick-arrow {
  display: none !important;
}

.in__fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}
/*# sourceMappingURL=style.css.map */